h1{
  position: fixed;
  margin-top: -5%;
}

#main{
  margin-top: 7%;
  display: flex;
  #Movie{
    width: 30%;
    img{
      box-shadow: 0 17px 20px -18px rgba(0, 0, 0, 1);    
    }
    span{
      font-size: 20px;
    }
    ul{
      margin-left: -15%;
    }
    &+&{
      display: block;
      margin-left: 30px;
    }
  }
}