#title{
  position: fixed;
  margin-top: -5%;
}

#main{
  margin-top: 7%;
  display: flex;}
  #Movie{
    width: 30%;
    img{
      box-shadow: 0 17px 20px -18px rgba(0, 0, 0, 1);    
    }
    b{
      font-size: 20px;
    }
    ul{
      margin-left: -17%;
      li::marker{
        content: "◆";
      }
      li{
        margin: 5px 0px;
      }
    }
    &+&{
      display: block;
      margin-left: 30px;
    }
  }
